<p>Hi [[+username]],</p>

<p>To activate your new password, please click on the following link:</p>

<p><a href="[[+confirmUrl]]">[[+confirmUrl]]</a></p>

<p>If successful you can use the following password to login:</p>

<p><strong>Password:</strong> [[+password]]</p>

<p>If you did not request this message, please ignore it.</p>

<p>Kind Regards<br />
<em>[[++site_name]]</em></p>